*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
nav{
    width: 100%;
height: 84px;
gap: 0px;
opacity: 0px;
background: #F5F7FA;
display: flex;
justify-content:space-between;
align-items: center;
padding:0px 90px;


}

.leftside {
    display: flex;
    justify-content: flex-start;
    color: #263238;
    gap:10px;


}
.mid-side ul{
    padding-left: 20px;
    display: flex;
    justify-content: space-around;
    gap:30px;
    list-style: none;
    cursor: pointer;
}
.rightside{
    display: flex;
    justify-content: space-around;
    gap:15px;
}
d{
    display: flex;
    justify-content: center;
 
    width: Hug (77px)px;
height: Hug (40px)px;
padding: 10px 20px 10px 20px;
color: rgba(76, 175, 79, 1);

border-radius: 6px 0px 0px 0px;
opacity: 0px;
cursor: pointer;

}
button{

padding: 10px 20px 10px 20px;
background: rgba(76, 175, 79, 1);
border-radius: 10px;
color:white;
border: none;
cursor: pointer;


}
.slider{
    background: #F5F7FA;
    width:100%;
    height:500px;
    
    padding:10px 20px;
 
display: flex;
justify-content: space-between;


}
.main-img{
    width: 509px;
    height: 446px;
gap: 0px;
opacity: 0px;
padding:40px 87px 0px 0px;
}
.text-side h2{
    font-weight:bold;
    padding: 100px 10px 0px 100px;
    font-size: 5rem;

}
.text-side h3{
    font-weight: 800;
    padding:0 20px 0 100px;
    font-size: 3rem;
    color:rgba(76, 175, 79, 1);
}
.text-side h4{
    padding:10px 30px 42px 100px;
    color:grey;
    font-size:large;
    font-weight: 500;
    
}
.btn-main{
    
padding: 10px 30px 10px 27px;
background: rgba(76, 175, 79, 1);
border-radius: 10px;
color:white;
border: none;
cursor: pointer;
margin:0 100px;

}
.dots{
position:absolute;
bottom:130px;
left:700px;
   
    
    
}
.client-side{
    width:100%;
    background-color: white;
    height:auto;
    padding:20px 100px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.client-text{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin:0 auto;
    

}
.client-text h2{
    font-size: 2rem;
    padding:10px 0;
}
.client-text h3{
    color:grey;
    font-weight: 300;
}
.inner-icons{
    
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
    gap:170px;
    padding:25px 20px;
}
.section-3{
    width:100%;
    height:auto;
    padding:20px 100px;
 
}
.text-icons{
    padding:15px;
    display: flex;
    text-align: center;
    align-items: flex-end;
    gap: 60px;
    justify-content: center;
}
.sec-text{
    text-align: center;
}
.sec-text h2{
    font-size: 2rem;

}
.sec-text h3{
    color:grey;
    padding:10px;
    font-weight: 500;
}
.onepart h3{
    padding-top: 5px;
    color:grey;
    font-weight: 400;
    font-size:medium;
}
.secondpart h3{
    padding-top: 5px;
    color:grey;
    font-weight: 400;
    font-size:medium;
}
.thirdpart h3{
    padding-top: 5px;
    color:grey;
    font-weight: 400;
    font-size:medium;
}
.body-1{
    padding:20px 100px;
    display: flex;
}
.right-text{
    padding:75px 0;

}
.right-text h2{
    font-size: 2rem;
    padding:10px;
}
.right-text h3{
    font-size: medium;
    color:grey;
    font-weight: 300;
    padding:10px;
}
.body-btn{padding: 10px 20px 10px 20px;
    background: rgba(76, 175, 79, 1);
    border-radius: 10px;
    color:white;
    border: none;
    cursor: pointer;
    display: flex;
    margin-left: 10px;
    margin-top: 10px;

}
.body-2{
    width: 100%;
    height:auto;
    padding:20px 100px;
    display: flex;
    background: #F5F7FA;
}
.leftt-text h2{
    font-size: 2.5rem;
    font-weight: 700;
    padding-top: 50px;
}
.leftt-text h3{
    font-size: 50px;
    font-weight: 400;
    color: rgba(76, 175, 79, 1);
   

}
.outer-div {
    width: 400px;
    height: 200px;

    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;


}

.twocards {
    padding-left: 200px;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content:space-between;
    align-items:flex-end;
    gap:5px;


}

.twocards img {
    width: 40px;
    /* margin-right: 50px; */
}

.body-3 {
    padding: 20px 100px;
    display: flex;
}

.right-textt {
    padding: 75px;

}

.right-textt h2 {
    font-size: 2rem;
    padding: 10px;
}

.right-textt h3 {
    font-size: medium;
    color: grey;
    font-weight: 300;
    padding: 10px;
}

.body-btnn {
    padding: 10px 20px 10px 20px;
    background: rgba(76, 175, 79, 1);
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    margin-left: 10px;
    margin-top: 10px;

}

.body-4 {
    padding: 20px 100px;
    display: flex;
    background-color: #F5F7FA;
}

.rightt-textt {

    font-size: 2rem;
    padding: 20px;
    font-size: medium;
    color: grey;
    font-weight: 300;


}

.body-4 h4 {
    color: rgba(76, 175, 79, 1);
    padding-top: 15px;
    font-size: larger;
}

.body-4 h5 {
    color: grey;
    padding-top: 15px;
    font-size: larger;
    font-weight: 500;
}

.inner-iconss {
    display: flex;
    align-items: flex-end;
    padding-top: 10px;
    gap: 60px;
}

.inner-iconss p {
    color: rgba(76, 175, 79, 1);
    font-size: larger;
    font-weight: 800;
}

/*  */


.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    gap: 20px;
    padding: 20px;
    margin-bottom: 100px;
}

.card {
   
    width: 300px;
    height: 286px;
    background-color: #F5F7FA;
    border-radius:10px ;
    position: relative;
    /* overflow-x: hidden; */
}

.child-div{
    position: absolute;
    width: 240px;
    height: 120px;
    background-color:white;
    bottom: -21px;
    left: 35px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    
}
.child-div h2{
    padding:10px;
    font-size:medium
}
.child-div button{
    margin:0 auto;
}

.img-1{
    width: 100%;
    height: 100%;
    border-radius:10px ;

    background-image: url('./lady.png');
}
.img-2{
    width:100%;
    height:100%;
    border-radius:10px ;
    background-image: url('./ladyimg2.png');
}
.img-3{
    width:100%;
    height:100%;
    border-radius:10px ;
    background-image: url('./ladyimg3.png');
}





/* .card:hover {
    transform: translateY(-10px);
  } */

.card-img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-bottom: 1px solid #eee;
    border-radius: 15px;
}

.card-title {
    font-size: 1rem;
    color: #333;
    margin: 15px 0 5px;
}

.card-description {
    font-size: 0.9rem;
    color: #555;
    padding: 0 15px 15px;
}

.text-cards {

    position: absolute;
    top: 150px;
    background-color: whitesmoke;
    width: 120%;
    height:80%;
    left: 15px;
    border-radius: 15px;
}
.last-div{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    height:60%;
    background-color:  #F5F7FA;
    /* padding-left: 100px; */
    /* padding-right: 100px; */
}
.last-div h2{
    font-size: 3rem;
    padding-top: 20px;
    text-align: center;
}
.last-div button{
  margin-bottom: 50px;
  margin-top: 30px;

}

